backend/imageCollection/migrations/*
backend/db.sqlite3
backend/imageCollection/__pycache__/admin.cpython-37.pyc
backend/imageCollection/__pycache__/models.cpython-37.pyc
backend/imageCollection/__pycache__/views.cpython-37.pyc
